@{
    Layout = "_Layout";
}

    <main>

        <div class="container">
            <div class="row">
                <div class="col-12">

                    <h1 class="my-5">Lista delle pizze</h1>


                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Immagine</th>
                                <th scope="col">Titolo</th>
                                <th scope="col">Descrizione</th>
                                <th scope="col">Prezzo</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td><img class="w-75" src="~/img/margherita.jpg" alt="Margherita" /></td>
                                <td>La Pizza Margherita</td>
                                <td>La pizza classica Napoletana</td>
                                <td>4,50€</td>

                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td><img class="w-75" src="~/img/funghi.jpg" alt="Prosciutto e funghi" /></td>
                                <td>La Pizza Prosciutto e funghi</td>
                                <td>Una pizza molto autunnale con il prosciutto San Daniele e i funghi di nostra produzione cresciuti a terra!</td>
                                <td>7,50€</td>

                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td><img class="w-75" src="~/img/salame.jpg" alt="Diavola" /></td>
                                <td>La Pizza Diavola</td>
                                <td>La Diavola, prende il nome dalla sua super piccantezza con il salame di nostra produzione e nduja</td>
                                <td>10,50€</td>

                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td><img class="w-75" src="~/img/crudo.jpg" alt="Crudo e rucola" /></td>
                                <td>La Pizza Crudo e rucola</td>
                                <td>La nostra crudo e rucola.Condita con scaglie di parmiggiano DOP.</td>
                                <td>5,50€</td>

                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>



    </main>
