@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<!doctype html>

    <main>
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-6 my-5">
                    <div class="text-center">
                        <h1>
                            Sei affamato? Prova le nostre pizze!!Ne puoi scegliere dal nostro menu che trovi in basso!!
                        </h1>
                    </div>
                </div>
            </div>
            <div class="container col-12">

                <div class="row justify-content-around row text-center g-5 gy-4">
                <div class="col-5">
                    <img class="w-50 img-fluid" src="~/img/margherita.jpg" />
                    <div class="m-4 text-center">
                        <h4 class="p-3 m-0 text-white bg-info">MARGHERITA</h4>
                    </div>
                    <div class="shadow">
                        <div>
                            <p class="text-center p-4 mb-2">
                                La Margherita. Un super classico della cucina Napoletana.
                            </p>
                            <div class="border-top">
                                <h5 class="text-center p-4">4,50€</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="row justify-content-around row text-center g-5 gy-4">
                <div class="col-5">
                    <img class="w-50 img-fluid" src="~/img/salame.jpg" />
                    <div class=" m-4 text-center text-white bg-info">
                        <h4 class="p-3 m-0">Diavola</h4>
                    </div>
                    <div class="shadow">
                        <div>
                            <p class="text-center p-4 mb-2">
                                La Diavola, prende il nome dalla sua super piccantezza con il salame di nostra produzione e nduja
                            </p>
                            <div class="border-top">
                                <h5 class="text-center p-4">10,50€</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
            <div class="justify-content-around row text-center g-5 gy-4">
                <div class="col-8">
                    <img class="w-50 img-fluid" src="~/img/funghi.jpg" />
                    <div class=" m-4 text-center text-white bg-info">
                        <h4 class="p-3 m-0">PROSCIUTTO E FUNGHI</h4>
                    </div>
                    <div class="shadow">
                        <div>
                            <p class="text-center p-4 mb-2">
                                Una pizza molto autunnale con il prosciutto San Daniele e i funghi di nostra produzione cresciuti a terra!
                            </p>
                            <div class="border-top">
                                <h5 class="text-center p-4">7,50€</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="justify-content-around row text-center g-5 gy-4">
                <div class="col-8">
                    <img class="w-50 img-fluid" src="~/img/crudo.jpg" />
                    <div class=" m-4 text-center text-white bg-info">
                        <h4 class="p-3 m-0">SAPORITA</h4>
                    </div>
                    <div class="shadow">
                        <div>
                            <p class="text-center p-4 mb-2">
                                La nostra crudo e rucola. Condita con scaglie di parmiggiano DOP.
                            </p>
                            <div class="border-top">
                                <h5 class="text-center p-4">5,50€</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
